#content {
	margin: 0;
	display: inline-block;
}
#menu {
	padding-top: 10px;
	padding-bottom: 20px;
	width:150px;
	height: auto;
	text-align: center;
	vertical-align: top;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: white;
	display: inline-block;
	margin: 0;
}
#rightmenu {
	padding-top: 10px;
	padding-bottom: 20px;
	width:150px;
	height: auto;
	text-align: center;
	vertical-align: top;
	background-color: white;
	display: inline-block;
	margin: 0;
}

.rightMenuBlock {
	width:150px;
	height: auto;
	text-align: center;
	vertical-align: top;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: white;
	display: inline-block;
	margin: 2px;
	margin-left: 5px;
}

#bottom {
	text-align: center;
	bottom: 0px;
	width: 100%
}

.menulink {
	color: black;
}

.this {
	color: green;
}


.spoiler{
	list-style-type:none;
	text-decoration: underline;
	position: relative;
	left: -20px;
}

.hide {
	font-size: 0px;
	}
	
	
	
table.rasp{
	width: 100%; 
	height: 83%;
	background: #d5d5d5;
}
.rasp, .one, .two, .three
{
	text-align: left;
	border-style:solid;
	border-color:black;
	border-width:3px;
	border-collapse:collapse;
}

#block {
/*	width: 100%; 
	height: 100%;
	position: fixed;
	background: white;
	z-index: 100500;*/
	opacity: 0;
}

.newslink {
	color: green;
	font-weight: lighter;
	text-decoration: none;
	font-size: 23px;
}

.news {
	text-align: center;
	width: 100%;
	font-size: 20px;
	/*font-family: tahoma;*/
	font-family:  Monotype corsiva;
}